h1 {
	padding: 0pt 0pt 0pt 0pt;
}

p {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:18pt;
	margin-top: 0;
	margin-bottom: 18pt;
}

ol {   
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:18pt;
    margin-left: 18pt;
}

table {
    border-collapse: collapse;
}

td {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:18pt;
	text-align: left;
    padding-top: .75em;
    padding-bottom: .75em;
}


#container {
	position: relative;
	overflow: hidden;
	width:      90%;
	height: 90%;
	
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:  14px;

	margin:     0 auto;
	padding:    0px;

	background: #FFFFFF;
	border: 5px solid blue;
}

#header {
	width:      100%;
	height: 10%;
    color: black;
    background-color: #eeeeee;
	font-size:24px;
    padding: 5px 0;
	    /* background:      transparent url('header.jpg') top left no-repeat; 
	margin: 0 auto;
    */
}

#faceshot {
	padding-left: 10px;
    float: left;
}

#affiliation {
	padding-top: 24px;
	padding-left: 15px;
    float: left;
}

.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row nowrap;
	justify-content: space-around;
}

.flex-item {
	padding: 5px;
	margin: 0px;

	line-height: 40px;
	font-weight: bold;
	text-align: center;
	flex: 1 1 auto;   	
	/*
	color: white;
	background: tomato;
	*/
}

#menu {
	font-size:20px;
	background: #222;
	overflow:hidden;
	height: 10%;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 15px;	
}

#menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu ul li a:link, #menu ul li a:visited {
	color:           #767676;	
	font-size:       1em;

    text-align: center;
	padding:         10px 7px 10px 7px;

	font-weight:     bold;
	text-decoration: none;
    text-transform: uppercase;    	
}

#menu ul li a:hover {
	color:           #FDFDFD;
	background-color:   #6A7919;
}

#menu ul li a.active {
	color:           #FDFDFD;
	background-color:   #6A7919;
}

#menu ul li a.active:hover {
	color:           #FDFDFD;
	background-color:   #6A9019;
}

#page {
	position:relative; 
	height:100%; 
	margin: 0; 
	padding: 0px; 
	overflow:hidden;
	background-color:#FFF;
	border: 5px solid black;

	/*
	clear: both;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	*/
}

#content {
    float:left;
	height: 100%;
    position: absolute;
	
	margin: 0;
    padding:1%;     

	border: 5px solid red;
	/*
	overflow:auto;
	height:auto;		  
	margin-left:15px;
	margin-right:15px;
	line-height:160%;
	*/
}

#navigator {
	position: fixed;
	float: left;
    width:15%;
	margin: 0;
    padding: 0;
    line-height:30px;
    background-color:#eeeeee;
	font-size:18pt;

	letter-spacing:-2px;
	border: 5px solid green;
}

#navigator ul {
    list-style-type: none;
    margin: 0pt 0;	
	padding: 0;
}

#navigator a:link, #navigator a:visited {
	/*
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    width: 100%;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
	*/
/*	display:block;
    text-align: left;	
	margin: 0;
	padding:5px 18px 5px 0;
	color:#606060;
	background:#e0e0e0;
	font-weight:bold;
	text-decoration:none;
    text-transform: uppercase; */
    
	display:block;
    text-align: left;	
	color:#606060;
	background:#e0e0e0;
	font-weight:bold;
	text-decoration:none;
    text-transform: uppercase; 
    border-bottom: 1px solid #fff;
	margin: 0;
	padding: 3px 12px 3px 8px;
}

#navigator a:hover {
	color:#303030;
	background:#f0f0f0;	
}

#navigator a.active {
	background:#f9f9f9;
	border-top:2px solid #c0c0c0;
	border-bottom:2px solid #c0c0c0;
}

#navigator a.active:hover {
	color:#505050;
	background:#fafafa;	
}

    
#navigator li li a:link {
	display:block;
    text-align: left;	
	color:#606060;
	background:#e0e0e0;
	font-weight:normal;
	text-decoration:none;
    text-transform: uppercase; 
    border-bottom: 1px solid #fff;
	margin: 0;
	padding: 3px 3px 3px 24px;
}

